<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inicio de la conquista</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body style="background-image: url(https://i2.wp.com/i.imgur.com/idgMMrI.jpg); background-repeat: no-repeat;">

	<tr th:each="conquista:${conquista}">
		<br>
		<div>
			<a th:href="@{/conquista/editar/}+${100}"
				class="btn btn-primary btn-lg active" style="margin: 2% 0 0 26%"
				role="button">EURASIA</a>
		</div>
		<div style="margin: 0 0 0 48%">
			<a th:href="@{/conquista/editar/}+${101}"
				class="btn btn-danger btn-lg active" role="button">TORONTO</a> <a
				th:href="@{/conquista/editar/}+${102}"
				class="btn btn-primary btn-lg active" style="margin: 2% 0 0 22%"
				role="button">DETROID</a>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div>
			<a th:href="@{/conquista/editar/}+${103}"
				class="btn btn-success btn-lg active" style="margin: 2% 0 0 40%"
				role="button">BERMUDA</a>
		</div>
		<div>
			<a th:href="@{/conquista/editar/}+${104}"
				class="btn btn-danger btn-lg active" style="margin: 2% 0 0 55%"
				role="button">PURGATORIO</a>
		</div>
		<div>
			<a th:href="@{/conquista/editar/}+${105}"
				class="btn btn-warning btn-lg active" style="margin: 2% 0 0 20%"
				role="button">KHALAJARI</a>
		</div>
				<div>
			<a th:href="@{/listar}"
				class="btn btn-warning btn-lg active" style="margin: 2% 0 0 85%"
				role="button">VOLVER AL INICIO</a>
		</div>
	</tr>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="funciones.js"></script>
</body>
</html>