<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nuestros Dragones</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body background="">

	<center>
		<div>
		<br>
<a title="Los Tejos" th:href="@{/}"><img src="https://s03.s3c.es/imag/_v0/770x420/7/3/d/Juego-de-Tronos.jpeg" width="200" height="100" alt="Game Of Thrones" /></a>
		</div>
	</center>

	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Registrar Dragon</a> 
		<a th:href="@{/listar}" class="btn btn-primary">Dragones</a>
		<a th:href="@{/guerrero/listarGuerrero}" class="btn btn-success">Guerreros</a>
		<a th:href="@{/conquista/mapa}" class="btn btn-success">Conquista</a> 
		<a th:href="@{/subdito/listarSubdito}" class="btn btn-success">Subditos</a>
		<table class="table">
			<thead>
				<tr>
					<th><font COLOR="red">ID</font></th>
					<th><font COLOR="red">NOMBRE</font></th>
					<th><font COLOR="red">RAZA</font></th>
					<th><font COLOR="red">COLOR</font></th>
					<th><font COLOR="red">EDAD</font></th>
					<th><font COLOR="red">FUERZA</font></th>
					<th><font COLOR="red">KILLS</font></th>
					<th><font COLOR="red">COMIDA</font></th>
					<th><font COLOR="red">ACCIONES</font></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dragon:${dragons}">
					<td th:text="${dragon.id}"></td>
					<td th:text="${dragon.name}">${dragon.name}</td>
					<td th:text="${dragon.raza}">${dragon.raza}</td>
					<td th:text="${dragon.color}">${dragon.color}</td>
					<td th:text="${dragon.edad}">lel</td>
					<td th:text="${dragon.fuerza}">${dragon.fuerza}</td>
					<td th:text="${dragon.kills}">${dragon.kills}</td>
					<td th:text="${dragon.comida}">${dragon.comida}</td>
					<td><a th:href="@{/editar/}+${dragon.id}"
						class="btn btn-success">Editar</a> <a
						th:href="@{/eliminar/}+${dragon.id}" class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="funciones.js"></script>
</body>
</html>